<div class="section" id="header">
    <nav class="navbar navbar-expand-lg navbar-dark static-top">
        <div class="container">
          <a class="navbar-brand" routerLink="/sven-web-exam">
                <img id="logo" src="../../../assets/logo/Group_247_2x.png" alt="">
            PAWTASTIC  
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" pageScroll href="#about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" pageScroll href="#services">Schedule a visit</a>
              </li>
    
            </ul>
          </div>
        </div>
      </nav>
      
    <div  class="row">
        <div class="col-md-6"> 
            <div class="header-content header-content-a">
                <p>Ozzie in Brooklyn</p>
            </div>
        </div>
        <div id="title" class="col-md-6">
            <div class="header-content header-content-b">
                <h1>We care for your little loved ones while</h1>
                <a pageScroll href="#services" id="visit" class="sched-btn btn btn-primary">Schedule a Visit</a>
            </div>
        </div>
    </div>
</div>

