<div class="section" id="about-us">
    <div class="row">
        <div class="col-md-6">
            <div class="about-us-content about-us-content-a">
                <h1>Expert care for your furry, feathery, or scaley friend</h1>
                <p> We know how stressful is to leave your pets at home alone. We’re a team of experienced animal caregivers, well connected to local veterinarians. Trust to us to love them like our own, and to keep them safe and happy till you’re home.</p>
                <a pageScroll href="#services" class="about-sched-btn  btn btn-primary">Schedule a visit</a>
            </div>
        </div>
        <div class="col-md-6 align-items-center">
            <div class="about-us-content about-us-content-a">
          
                <div class="grid-container">
                    <div class="grid-item grid-item-a">
                        <!-- <img src="../../../assets/pets/Group_424_2x.png" alt=""> -->
                        <p>Muffin</p>
                    </div>
                    <div class="grid-item grid-item-b">    
                        <!-- <img src="../../../assets/pets/Group_423_2x.png" alt=""> -->
                        <p>Peep</p>
                    </div>
                    <div class="grid-item grid-item-c">
                        <!-- <img src="../../../assets/pets/Group_425_2x.png" alt=""> -->
                        <p>Natasha</p>
                    </div>
                    <div class="grid-item grid-item-d">
                        <!-- <img src="../../../assets/pets/Group_422_2x.png" alt=""> -->
                        <p>Marlon</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>